*.o
*.a
*~
*.exe
*.exe.*
*.obj
*.pch
*.idb
*.pdb
*.ilk
git-help.txt
msdev-pscore.vcproj.*
msdev-cmfinder.vcproj.*
mt.dep
BuildLog.htm
Debug
Release
version.h
afetch
align
alistat
canda
candf
cands
cluster
diff_motif
CMfinder/cmfinder/cmfinder
CMfinder/bin/cmfinder
compalign
compstruct
config.status
config.log
count_seq
dmatrix-t1
dmatrix-t2
parse-t1
revcomp
RNAPhylo
seqsplit
seqstat
sfetch
shuffle
sindex
sreformat
summarize
translate
weight
*/infernal-1.1/*
Makefile
Userguide.pdf
*.vcproj*.user
documentation
testsuite
tutorial
*/lib-infernal-1.1/documentation/*
*/lib-infernal-1.1/tutorial/*
*/lib-infernal-1.1/rmark/*
*/lib-infernal-1.1/testsuite/*
*/lib-infernal-1.1/hmmer/profmark/*
*/hmmer/documentation/*
*/hmmer/testsuite/*
*/hmmer/tutorial/*
*.stamp
*.itest.pl
00MANIFEST
impl
p7_omx.ai
BUGTRAX
*.man
*.tags
*.workspace.session
*.workspace.zasha
cscope_file.list
autom4te.cache
cmbuild.mk
cmcalibrate.mk
cmsearch.mk
codelite-workspace_wsp.mk
fake_full_infernal.mk
cmfinder_inf11.mk
pscore.mk
hmmpair.mk
p7_config.h
esl_config.h
easel.h
stamp-h*
config.h
squid.h
squidconf.h
/Makefile.in
configure
.deps
CMfinder/vienna14/Makefile.in
CMfinder/vienna171/Makefile.in
CMfinder/cmfinder_inf11/Makefile.in
CMfinder/cmfinder_inf11/cmfinder_inf11
pscore/qrna/Makefile.in
pscore/pscore/Makefile.in
clustalw1.83/Makefile.in
divsufsort.h
build-package
CMfinder/cmfinder_inf11/cmfinder04
CMfinder/bin/cmfinder04
CMfinder/lib-infernal-1.1/easel/*.tex
fbparsers.tex
pscore/pfold-extras/addparen
pscore/pfold-extras/col2fasta
pscore/pfold-extras/col2newick
pscore/pfold-extras/col2psalign
pscore/pfold-extras/col2txtalign
pscore/pfold-extras/drawdot
pscore/pfold-extras/drawphyl
pscore/pfold-extras/extendstem
pscore/pfold-extras/findphyl
pscore/pfold-extras/mltree
pscore/pfold-extras/newick2col
pscore/pfold-extras/nohead
pscore/pfold-extras/scfg
pscore/pfold-extras/stdpair
pscore/pfold-extras/Makefile.in
clustalw
*.aux
*.bbl
*.blg
*.idx
*.log
*.out
*.pdf
*.toc
.codelite
hmmpair/src/Makefile.in
hmmpair/src/hmmpair
cmalign
cmbuild
cmcalibrate
cmconvert
cmemit
cmfetch
cmpress
cmscan
cmsearch
cmstat
cp9-test
sub_cm-test
trcyk
truncyk_check
bandcyk-montecarlo-test
bandcyk-truncation-test
cmfinder_inf11.txt
discarded_stuff.txt
ReadMe.txt
hmmpair.txt
pscore.txt
